<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

This notebook includes a summary of Data Science Tools and Ecosystem

Objectives:
- List of Popular languages used by Data Scientists
- List of Commonly Used Libraries by Data Scientists
- Table of Data Scientists Tools
- Examples of Arithmetic Expressions in Python

Popular languages used by Data Scientists include:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++

Commonly used libraries by Data Scientists:
1. Matplotlib for python
2. ggplot for R
3. Numpy for python
4. Tensorflow for python

|Data Science Tools|
--------------------
|Juptyer|
|RSudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This arithmetic expression shows multipication and then addition of integers
(3*4)+5

17

In [5]:
# This expression converts 200 minutes to hours by diving by 60
200/6

33.333333333333336

## Author
Mariana Arroyo